@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

* { margin:0; padding:0; box-sizing:border-box; }

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

body {
	font-size: 12px;
	margin: 1.5em auto;
	text-align: center;
}

h1{
	color: #3B7BEA;
	font-family: 'Abril Fatface', cursive;
	font-size: 6.5em;
}

h3 {
	color: #E85D53;
	font-family: 'Special Elite', cursive;
	font-size: 5em;
}

a {
	color: red;
}

i {
	color: #3B7BEA;
	margin: .1em;
}

img {
	color: #E9EAED;
}

#menu li {
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
}

p {
	color: #E9EAED;
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	line-height: 1.5em;
	text-align: justify;
}

.about {
	background: url("../images/seattle2.jpeg");
	background-size: cover;
}

.contact {
	background: url("../images/night3.jpeg");
	background-size: cover;
}

.fa-2x {
	font-size: 3em;
}

.project {
	background: url("../images/night2.jpeg");
	background-size: cover;
}

.project_content {
	margin-bottom: 5em;
}

.project_h3 {
	margin-top: -5em;
}

.project_img {
	width: 43em;
}

.project_main {
	margin: 2em auto;
	height: 40%;
}

.project_left {
	float: left;
	margin-left: 8em;
	width: 45%;
}

.project_right {
	float: left;
	width: 40%;
}

#about_h1 {
	margin-top: -2em;
}

#airport {
	margin-top: .5em;
}

#bj_h3 {
	margin-top: -4.7em;
}

#contact_left {
	float: left;
	margin-left: 3em;
	width: 45%;
}

#contact_h1 {
	margin-bottom: .5em;
}

#contact_img {
	background-image: url(../images/andy.jpg);
	background-repeat: no-repeat;
    background-position: 42%;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#contact_right {
	float: left;
	width: 42%;
}

#contact_info {
	display: inline-block;
	margin: 0 auto;
}

#project_h1 {
	padding-top: .7em;
}

@media only screen and (max-width: 645px) {
	h1 {
		font-size: 5.5em;
	}

	p {
		font-size: 1.5em;
	}

	.project_h3 {
		font-size: 3.5em;
	}

	.project_left, .project_right {
		float: none;
	}

	.project_left {
		margin: 2em auto;
		width: 100%;
	}

	.project_right {
		margin: 0 auto;
		width: 75%;
	}

	#project_h1 {
		display: none;
	}



	/*#contact_left, #contact_right {
		display: block;
	}*/
}