@import url(https://fonts.googleapis.com/css?family=Devonshire);

* { margin:0; padding:0; box-sizing:border-box; }

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

body {
	font-size: 12px;
	margin: 1.5em auto;
	text-align: center;
}


h1{
	color: green;
	font-family: 'Devonshire', cursive;
	font-size: 5em;
}

a {
	color: red;
}

div {
	
}

.about {
	background: url("../images/seattle2_2000.jpeg");
	background-size: cover;
/*	background-repeat: no-repeat;*/
}